* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: 'Noto Serif', 'Times New Roman', Times, serif;
    padding: 10px 0 10px 0;
    font-size: 32px;
 }

.nav, .contact {
    background-color: skyblue;
    padding: 20px 0 20px 0;
    text-align: center;
}

.nav_reference, .contact_reference{
    display: inline-block;
    font-weight: 400;
    width: 200px;
    cursor: pointer;
}

.nav_reference>a {
    color:blue;
    text-decoration: none;
}

.nav_reference>a:hover {
    color:darkslateblue;
    text-decoration: underline;
}

.wrapper {
    min-height: 700px;
    background: url(../images/rain-light2.png) center center/cover no-repeat;
    padding: 50px 0;
}
 
.wrapper_name, #contact_title {
    text-align: center;
    color:rgb(19, 19, 92);
}

.wrapper_about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color:rgb(19, 19, 92);
}

.wrapper_about_text {
    margin-left: 100px;
}

.wrapper_about_photo {
   border: 1px solid grey;
}

.wrapper_about_photo>img {
    display: block;
}

p {
    color: rgb(7, 7, 7);
    padding-bottom: 15px;
    font-size: 20px;
    color:rgb(19, 19, 92);
}

.wrapper_about_text_list {
    text-align: left;
    list-style-type: none;
    font-size: 20px;
    line-height: 27px;
    color: rgb(19, 19, 92); 
}
  
li:before{
    list-style-type: none;
    content: '\25ba'; /* Добавляем маркер в шестнадцатеричном формате*/
    padding-right: 15px; /* Расстояние от маркеров до текста */
 }
 
.contact_reference>a {
    color:blue;
    text-decoration: none;
}

.contact_reference>a:hover {
    color:darkslateblue;
    text-decoration: underline;
}

.button {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 600px;
	font-size: 14px;
	background-color: rgb(10, 79, 134);
    border: none;
	border-radius: 7px;
	width: 100px;
	cursor: pointer;
    color: blanchedalmond;
    padding: 10px;
}
    
.button:hover {
    transition: 1s all;
    background-color: gray;
    color: rgb(7, 59, 109);
}

.contact img {
    width: 50px;
    height: 50px;
}


		