* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.title {
    font-family: 'Noto Serif', 'Times New Roman', Times, serif;
    padding: 10px 0 10px 0;
    font-size: 32px;
    color:rgb(19, 19, 92);
 }

 .subtitle {
    font-family: 'Noto Serif', 'Times New Roman', Times, serif;
    padding: 10px 0 10px 0;
    color:rgb(19, 19, 92);
    font-size: 28px; 
 }

.nav {
    background-color: skyblue;
    padding: 20px 0;
    text-align: center;
}

.nav_reference, .contact_reference{
    display: inline-block;
    font-weight: 400;
    width: 300px;
    font-size: 18px;
    cursor: pointer;
    padding-top: 10px;
}

.nav_reference>a {
    color:blue;
    text-decoration: none;
}

.nav_reference>a:hover {
    color:darkslateblue;
    text-decoration: underline;
}

.wrapper {
    min-height: 800px;
    background: url(../images/rain-light2.png) center center/cover no-repeat;
    padding: 50px 0;
}
 
.wrapper_name {
    text-align: center;
 }

.wrapper_about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color:rgb(19, 19, 92);
}

.wrapper_about_text {
    margin-left: 100px;
}

.wrapper_about_photo {
   border: 1px solid grey;
 }

.wrapper_about_photo>img {
    display: block;
    width: 200px;
    height: 320px;
}

p {
    color: rgb(7, 7, 7);
    padding-bottom: 15px;
    font-size: 20px;
    color:rgb(19, 19, 92);
}

.wrapper_about_text_list {
    text-align: left;
    list-style-type: none;
    font-size: 20px;
    line-height: 27px;
    color: rgb(19, 19, 92); 
}
ul {
    list-style-type: none;
 }

li {
    padding: 10px 0;
} 

li:before{
    content: '\25ba'; /* Добавляем маркер в шестнадцатеричном формате*/
    padding-right: 15px; /* Расстояние от маркеров до текста */
 }
 
 .contact {
    height: 280px;
    background-color: skyblue;
    padding: 20px 0;
    text-align: center;
}

.contact_reference>a {
    color:blue;
    text-decoration: none;
}

.contact_reference>a:hover {
    color:darkslateblue;
}

.contact_button {
    font-size: 14px;
	background-color: rgb(10, 79, 134);
    border: none;
	border-radius: 7px;
	width: 100px;
	cursor: pointer;
    color: blanchedalmond;
    padding: 10px 10px;
}
    
.contact_button:hover {
    transition: 1s all;
    background-color: gray;
    color: rgb(7, 59, 109);
}

.contact img {
    width: 50px;
    height: 34px;
}

.contact_wrapper_phone {
    display: flex;
    margin: 20px auto;
    width: 400px;
}

.contact_wrapper {
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    width: 900px;
}

.contact_social {
    display: flex;
    justify-content: space-between;
}		